.osm-header {
  background-color: DodgerBlue;
   text-align: center;
   color: white;
   padding: 10px 0 10px 0;
}
h1 {
  color: blue;
}
p {
  color: red;
}
.custom-button {
   color: red;
   margin-top: -10px;
}
.tabbable-panel {
   border:1px solid #eee;
   padding: 10px;
}
.tabbable-line > .nav-tabs {
   border: none;
   margin: 0px;
}
.tabbable-line > .nav-tabs > li {
   margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
   border: 0;
   margin-right: 0;
   color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
   color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open > .nav-link, .tabbable-line > .nav-tabs > li:hover > .nav-link {
   border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
   border: 0;
   background: none !important;
   color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
   color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
   margin-top: 0px;
}
.tabbable-line > .nav-tabs > .nav-item > .nav-link.active {
   border-bottom: 4px solid #f3565d ;
   position: relative;
}
.tabbable-line > .nav-tabs > .nav-item > .active {
   border: 0;
   color: #333333;
}
.tabbable-line > .nav-tabs > .nav-item > .active > i {
   color: #404040;
}
.tabbable-line > .tab-content {
   margin-top: -3px;
   background-color: #fff;
   border: 0;
   border-top: 1px solid #eee;
   padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
   padding-bottom: 0;
}
#exTab1 {
   margin-top:44px;
}
.menu-img {
   border-radius: 5px;
}
.menu-header {
   text-align: center;
   color: white;
   background-color: black;
   display: block;
}
.menu-row {
   padding: 10px 0;
}
.menu-name {
   font-weight: bold;
}
.menu-item-row {
   margin-left:10px;
   margin-right:0;
}
.menu-price {
   margin-top: 50px;
   color:red;
   font-weight: bold;
}
footer {
   position: fixed;
   height: 100px;
   bottom: 0;
   width: 100%;
   left: 0;
   height: 50px;
   border-top: 1px solid darkgray;
}
