    .custom-button {
        color: red;
        position: relative;
        bottom: 1.5rem;
    }
    
    .portlet .tabbable-line>.tab-content {
        padding-bottom: 0;
    }
    
    .main-container {
        margin-top: 1.5rem;
    }
    
    .menu-img {
        border-radius: 5px;
    }
    
    .menu-header {
        text-align: center;
        color: white;
        background-color: black;
        display: block;
    }
    
    .menu-row {
        padding: 10px 0;
    }
    
    .menu-name {
        font-weight: bold;
    }
    
    .menu-item-row {
        margin-left: 10px;
        margin-right: 0;
    }
    
    .menu-price {
        padding-top: 2.5rem;
        color: red;
        font-weight: bold;
    }
    
    footer {
        position: fixed;
        height: 100px;
        bottom: 0;
        width: 100%;
        left: 0;
        height: 50px;
        border-top: 1px solid darkgray;
        z-index: 1000;
    }
    
    .btn:focus {
        outline: none;
        box-shadow: none;
    }
    
    .menu-img {
        height: 4rem;
        width: 4rem;
    }
    
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: 0px;
        margin-left: 0px;
    }
    /* custom boostrop */
    
    .nav {
        display: block;
    }
    
    .nav-link {
        padding: 0 0;
    }
    
    .nav-tabs .nav-link {
        border: 0px solid transparent;
    }
    
    .nav-tabs .nav-link.active {
        color: #46a9fd;
    }
    
    .nav-item {
        cursor: pointer;
    }
    
    .classify li {
        width: 100%;
    }
    
    .classify li a.active:after {
        height: 0rem;
    }